#root {
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  font-family: 'Chivo Mono';
}

#root p, div {
  font-size: 1.1rem;
}

/* HandwrittenTitle.css */

.title-svg {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

:target {
  scroll-margin-top: 80px; /* equal to your navbar height */
}

.handwritten-text {
  font-family: 'Chivo Mono';
  font-size: 2.2rem;
  fill: #ffffff;
  font-weight: 900;
  stroke: #f8f8ff00;
  stroke-width: 2;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 10s ease-out forwards;
  letter-spacing: 0.1cap;
  paint-order: stroke fill;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.navigation {
  position: fixed;
  width: calc(100vw - 10px);
  background-color: #d9d3ef30;
  backdrop-filter: blur(4px);
  box-shadow: 0px 0px 8px rgba(183, 178, 203, 0.348);
}

.experience {
  background-color: #320e3b22;
  backdrop-filter: blur(2px);
  color: #ffffff;
}

Timeline.Description {
  color: #ffffff;
}

.emailtree p {
  rotate: 90deg;
  translate: 0vh 30vh;
}

:target {
  scroll-margin-top: 80px; 
}

.linktree {
  translate: 0vh 30vh;
}

.miniprojects p {
  color: white;
}

.miniprojects  {
  color: white;
}

.experience Card.Root :hover {
  background-color: #cfb9d522;
  backdrop-filter: blur(2px);
  color: #ffffff;
  border-width: 1px;
  border-color: white;
  border-radius: 4px;
}